body {
  margin: 0;
  overflow: hidden;
}

.hidden {
  display: none !important;
}
.winner h1 {
  color: #ffff;
}

.winner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}
